<h1>ログイン</h1>
<%= form_with(scope: :session, url:sessions_path, local:true) do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %><br>
  <%= form.label :password %>
  <%= form.password_field :password %><br>
  <%= form.submit "ログイン" %>
<% end %>