<%= form_with(model:@blog, url:confirm_blogs_path, local:true ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_field">
    <%= form.label :image %><br>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="blog_content">
    <%= form.label :content%><br>
    <%= form.text_area :content, class: "content", size: "40x10", style: "font-size: 18px"  %>
  </div>

  <div class="actions">
    <%= form.submit "投稿" %>
  </div>
<% end %>