<%= form_with(model:@blog, url:choose_new_or_edit, local:true ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog-field">
    <div class="blog-create">
      <%= form.label :image %><br>
      <%= form.file_field :image %>
      <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
      <%= form.hidden_field :image_cache %>
    </div>
    <div class="blog-create">
      <% if action_name == 'edit' || action_name == 'confirm' %>
        <p><%= form.check_box :remove_image %>画像削除</p>
      <% end %>
    </div>
  </div>

  <div class="blog-content">
    <div class="blog-create">
      <%= form.label :content%><br>
      <%= form.text_area :content, class:"content", size:"40x10", style:"font-size: 18px"  %>
    </div>
  </div>

  <div class="blog-create">
    <%= form.submit "投稿", class:"btn btn-success" %>
  </div>
<% end %>