<h2>以下の内容で送信して良いですか？</h2>
<%= form_with(model:@blog, url:blogs_path, local:true) do |form| %>
  <p>画像：<br><%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %></p>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <p>内容：<br><%= @blog.content %></p>
  <%= form.submit  "投稿" %>
<% end %>
<%= form_with(model:@blog, url:new_blog_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>