<h2>投稿一覧</h2>
<div class="blogs-index">
  <% @blogs.each do |blog| %>
    <table class="user-date">
      <tr>
        <td class="user-icon"><%= image_tag blog.user_icon.thumb.url, id:"user-icon" if blog.user_icon.present? %></td>
        <td class="user-name"><%= blog.user_name %></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><%= image_tag(blog.image.url) if blog.image? %></td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="blog-content"><%= blog.content %></td>
      </tr>
    </table>
    <table class="blog-date">
      <tr>
        <td class="data-at"><%= l blog.created_at %></td>
        <td class="data-btn">
          <ul>
            <li>
              <%= button_to blog_path(blog.id), method: :get, class:"btn btn-info" do %>
                <span>詳細</span>
              <% end %>
            </li>
            <li>
              <% if current_user.id == blog.user_id %>
                <%= button_to edit_blog_path(blog.id), method: :get, class:"btn btn-warning" do %>
                  <span>編集</span>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if current_user.id == blog.user_id %>
                <%= button_to blog_path(blog.id), method: :delete, class:"btn btn-danger", 
                    data: { confirm: '削除して良いですか？' } do %>
                  <span>削除</span>
                <% end %>
              <% end %>
            </li>
          </ul>
        </td>
        <td class="data-favorite">
        <% unless current_user.id == blog.user_id %>
          <div id="favorites_buttons_<%= blog.id %>">
            <%= render partial: 'favorites/favorite', locals: { blog: blog} %>
          </div>
        <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>



