<div class="profile-content">
   <h3>プロフィール</h3>
   <div class="user-profile" >
      名前：<span id="user-name"><%= @user.name %></span>
      <%= image_tag @user.icon.thumb.url, id: "user-icon" if @user.icon? %>   
   </div>
   <div class="user-profile">
      アドレス：<span id="user-email"><%= @user.email %></span>
   </div>
   <div class="user-profile">
      <%= button_to edit_user_path(@user.id), method: :get, class:"btn btn-warning" do %>
         <span>編集</span>
      <% end %>
   </div>
   <div class="user-profile">
      <%= button_to user_path, method: :delete, class: "btn btn-danger", data: { confirm: '削除して良いですか？' } do %>
         <span>アカウント削除</span>
      <% end %>
   </div>
</div>

<% unless logged_in? %>
   <p class="information">※ログインして下さい</p>
<% end %>
