<!DOCTYPE html>
<html>
  <head>
    <title>RailsKadai2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header crearfix">
      <% if logged_in? %>
      <ul>
        <%= link_to user_path(current_user.id) do %>
          <li class="header-link">プロフィール</li>
        <% end %>
        <%= link_to session_path(current_user.id), method: :delete do %>
          <li class="header-link">ログアウト</li>
        <% end %>
        <li class="h-user-name">
          お名前：<%= current_user.name %>さん
        </li>
      <% else %>
      <ul>
        <%= link_to new_user_path do %>
          <li class="header-link">アカウント作成</li>
        <% end %>
        <%= link_to new_session_path do %>
          <li class="header-link">ログイン</li>
        <% end %>
      </ul>
      <% end %>
    </header>
      <div class="information">
        <% flash.each do |key,value| %>
          <i><%= content_tag(:div,value,class:"#{key}") %></i>
        <% end %>
      </div>
    <div class="main">
      <%= yield %>
    </div>
    <footer class="footer crearfix">
      <% if logged_in? %>
      <ul>
        <%= link_to new_blog_path do %>
          <li class="footer-link">投稿作成</li>
        <% end %>
        <%= link_to blogs_path do %>
          <li class="footer-link">投稿一覧</li>
        <% end %>
      </ul>
      <% end %>
    </footer>
  </body>
</html>
